/*
* @Author: admin
* @Date:   2019-08-09 14:43:20
* @Last Modified by:   admin
* @Last Modified time: 2019-08-16 13:36:46
*/
*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
}
body{
	overflow-y: hidden;
	background-size: 100% 100%;
	position: relative;
	/*background-image: url('../images/banner8.png');//桌面背景*/
}
/* header */
.header{
	width: 100%;
	height: 120px;
	/*background-image: url('../images/banner9.jpg');*/
	background-size:50% 100%; 
	border: 1px solid black;
}
.header .logo{
	margin-left: 30px;
	height: 120px;
	width:100px;
	float: left;
	text-align:center;
}
.header .header2{
	height: 70px;
	width: 80%;
	margin: 0px auto;
}
.header .header2 .spann1{
	height: 70px;
	width:100px;
	margin: 0px auto;
	font-size: 40px;
	color: black;
	font-family: '华文彩云'
	
}
/* 导航栏 */
.nav{
	width: 100%;
	height: 40px;
	background-color: white;
	margin: 0px auto;
	z-index: 100;
}
.nav li{
	width: 225px;
	display: inline-block;
	margin-left: 60px;
}
.nav li a{
	text-decoration: none;
	color: black;
	text-align: center;
}
.nav a:hover{
	color: skyblue;
}
.header .touxiang{
	width: 180px;
	height: 80px;
	float: right;
	margin-top: -50px;
}
.header .touxiang>img{
	width: 60px;
	height: 60px;
	margin-left: 30px;
	float: left;
}
.header .touxiang a:nth-child(2){	
	color: blue;
	font-size: 14px;
	text-decoration: none;
}
.header .touxiang a:nth-child(2):hover{
	color:yellow;
}
.header .touxiang .pic2{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 30px;
	border: 0px solid green;	
}
.header  .touxiang .pic2:hover{
	opacity: 0.8;
}
/* 球星栏 */
.qiuxing {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 1200px;
  max-width: 1200px;
  height: 500px;
  overflow-y: scroll;
  flex-wrap: wrap;
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px;
}
.card {
  color: inherit;
  cursor: pointer;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}
.picpic1{
	width: 130%;
	height: 120%;
}
.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: .25;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}
.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em;
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

.button {
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: .5em 1em;
  border-radius: 100px;
  font: inherit;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
}
.button:before {
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: '';
  transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.button:hover {
  transform: translateZ(55px);
}
.button:hover:before {
  transform: translateZ(-55px);
}
.button:active {
  transform: translateZ(20px);
}
.button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}
.qiuxing::-webkit-scrollbar {/*滚动条整体样式*/
    width: 1px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    scrollbar-arrow-color:red;
}
.qiuxing::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
    scrollbar-arrow-color:red;
}
.qiuxing::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.nav-down{
	position: absolute;
	top: 150px;
	left: 83px;
	z-index: 100;
	/*background-image: url('');*/
	background-size: 100% 100%;
}
/* 侧导航栏 */
.left-nav{
	width: 40px;
	height: 250px;
	position: fixed;
	left: 0px;
	top: 300px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #333;
}
.left-nav ul a{
	text-decoration: none;
}
.left-nav ul a li{
	width: 40px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	padding-top: 8px;
	transition: 0.3s;
	color: gray;
}
.left-nav ul a li:hover{
	font-size: 25px;
	color: white;
}
/* 登录弹框 */
.onload{
	width: 400px;
	height: 550px;
	background-color: white;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: -200px;
	z-index: 120;
	display: none;
}
.onload .onload-up .left-up{
	width: 300px;
	height: 50px;
	float: left;
}
.onload .onload-up .left-up p{
	width: 300px;
	height: 50px;
	font-size: 20px;
	color: black;
	font-family: "华文彩云";
	text-align: right;
	margin-top: 10px;
}
.onload .onload-up .left-down{
	margin-top: 20px;
	width: 300px;
	height: 30px;
	float: left;
}
.onload .onload-up .left-down span a{
	text-decoration: none;	
}
.onload .onload-up .left-down .deng1{
	width: 150px;
	height: 30px;
	float: left;
	text-align: center;
}
.onload .onload-up .left-down .deng2{
	width: 100px;
	height: 30px;
	float: right;
	text-align: left;
}
.modal-backdrop{
	z-index: 119;
}
.onload .onload-up .left-down img{
	z-index: 150;
	opacity: 1;
	margin-left: 170px;
	margin-top: 50px;
}
.onload .onload-up .right-up{
	width: 52px;
	height: 52px;
	float: right;
	margin-top: -40px;
	margin-right: 10px;
}
/* 表单 */
.onload .onload-center{
	width: 320px;
	height: 300px;
	overflow: hidden;
	margin: 0px auto;
}
.onload .onload-center form input{
	margin-top: 30px;
}
.onload .onload-center form button{
	width: 100%;
	height: 40px;
	background-color: orange;
	border-radius: 5px;
	margin-top: 20px;
	color: white;
}
.onload .onload-center .onload-dd{
	margin-top: 20px;
	width: 100%;
}
.onload .onload-center .onload-dd input{
	float: left;
}.onload .onload-center .onload-dd span a{
	text-decoration: none;
}
.onload .onload-center .onload-dd span:nth-child(1){
	width: 100px;
	float: left;
	cursor: pointer;
}
.onload .onload-center .onload-dd span:nth-child(2){
	width: 120px;
	float: right;
}
/* 登录图标 */
.onload .onload-down .down-li{
	width: 100%;
	height: 30px;
	
}
.onload .onload-down .down-li p{
	color: black;
	font-size: 15px;
	text-align: center;
}
.onload .onload-down .ul-tic{
	width: 200px;
	margin: 20px auto;
}
.onload .onload-down .ul-tic .tic{
	width: 50px;
	height: 50px;
	background-color: #ccc;
	display: inline-block;
	border-radius: 50%;
	margin-left: 10px;
}
.onload .onload-down .ul-tic .tic:hover{
	opacity: 0.8;
}
.onload .onload-down .ul-tic .tic img{
	margin-top: 12px;
	margin-left: 13px;
	width: 50%;
	height: 50%;
}
	
.onload .onload-down .btn3{
	width: 50px;
	height: 30px;
	float: right;
	/*border-radius: 5px;*/
}
/* 视频轮播 */
.box{
    width: 1200px;
    height: 340px;
    margin: 40px auto;
    position: relative;
}
.list{
    width: 1000px;
    height: 320px;
    overflow: hidden;
    position: absolute;
    left: 59%;
    margin-left: -600px;
}
.btn{
    position: absolute;
    top: 50%;
    margin-top: -80px;
    width: 60px;
    height: 100px;
    font-size: 80px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    z-index: 80;
}
.next{
    right: 190px;
    transition: 0.5s;
}
.prev{
    left: 180px;
    transition: 0.5s;
}

.list li{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    transition: all 0.5s ease;
    opacity: 0;
}
.list li a video{
    width: 536px;
    height: 310px;
    float: left;
    border-radius: 10px;
    border: 1px solid black;
}
.list .p1{
    transform: translate3d(-225px,0,0) scale(0.81);
}
.list .p2{
    transform: translate3d(0px,0,0) scale(0.81);
    opacity: 0.8;
    z-index: 2;
}
.list .p3{
    transform: translate3d(225px,0,0) scale(1);
    z-index: 3;
    opacity: 1;
}
.list .p4{
    transform: translate3d(450px,0,0) scale(0.81) ;
    opacity: 0.8;
    z-index: 2;
}
.list .p5{
    transform: translate3d(675px,0,0) scale(0.81) ;
}
.list .p6{
    transform: translate3d(900px,0,0) scale(0.81);
}
.list .p7{
    transform: translate3d(1125px,0,0) scale(0.81);
}

.buttons{
    position: absolute;
    width: 1200px;
    height: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
    text-align: center;
    padding-top: 10px;
}
.buttons a{
    display: inline-block;
    width: 40px;
    height: 10px;
    padding-top: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.buttons a .a-span{
    display: block;
    width: 40px;
    height: 5px;
    background: gray;
    border-radius: 20px;
}
.buttons a .red{
    background-color: white;
}