/*
* @Author: admin
* @Date:   2019-08-09 14:43:20
* @Last Modified by:   admin
* @Last Modified time: 2019-08-16 13:36:46
*/
*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
}
body{
	overflow-y: hidden;
	background-size: 100% 100%;
	position: relative;
	background-image: url('../img/background3.jpg');//桌面背景
}
.logo{
	width: 100px;
	height: 100px;
	margin-top: 5px;
}
.logo img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	filter:grayscale(80%);
}
.spann1{
    width: 130px;
    height: 70px;
    margin: 0 auto;
}
.spann1 img{
    width: 130px;
    height: 70px;
}
/* header */
.header{
	width: 100%;
	height: 120px;
	background-size:100% 100%;
	border: 1px solid #00F7DE;
    background-image: url("../img/CARQ.png");
}
.header .logo{
	margin-left: 30px;
	height: 120px;
	width:100px;
	float: left;
	text-align:center;
}
.header .header2{
	height: 70px;
	width: 80%;
	margin: 0px auto;
}
.header .header2 .spann1{
	height: 70px;
	width:100px;
	margin: 0px auto;
	font-size: 40px;
	color: #4E5465;
}
.header .touxiang{
	width: 200px;
	height: 80px;
	float: right;
	margin-top: -50px;
}
.header #touxiang{
	width: 200px;
}
.header .touxiang>img{
	width: 60px;
	height: 60px;
	margin-left: 30px;
	float: right;
}
.header .touxiang a:nth-child(2){
	color: blue;
	font-size: 14px;
	text-decoration: none;
}
.header .touxiang a:nth-child(2):hover{
	color:yellow;
}
.header .touxiang .pic2{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 30px;
	border: 0px solid green;
}
.header  .touxiang .pic2:hover{
	opacity: 0.8;
}
/* 导航栏 */
.nav{
	width: 92%;
	height: 40px;
	background-color: #a3b7b500;
	margin: 0 auto;
	z-index: 100;
}
.nav .li1{
	margin-left: 130px;
}
.nav li a{
	text-decoration: none;
	text-align: center;
    color: white;
    font-weight: bold;
}
.nav a:hover{
	color: skyblue;
}
.one{
	position: fixed;
	top: 0px;
	left: 75px;
}
.two{
	position: fixed;
	top: 50px;
	left: 75px;
}
.header .touxiang{
	width: 240px;
	height: 80px;
	float: right;
	margin-top: -50px;
}
.header .touxiang>img{
	width: 60px;
	height: 60px;
	margin-left: 30px;
	float: left;
}
.header .touxiang a:nth-child(2){
	color: blue;
	font-size: 14px;
	text-decoration: none;
}
.header .touxiang a:nth-child(2):hover{
	color:yellow;
}
.header .touxiang .pic2{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 30px;
	border: 0px solid green;
}
.header  .touxiang .pic2:hover{
	opacity: 0.8;
}
/* 侧导航栏 */
.left-nav{
	width: 40px;
	height: 250px;
	position: fixed;
	left: 0px;
	top: 300px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #333;
}
.left-nav ul a{
	text-decoration: none;
}
.left-nav ul a li{
	width: 40px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	padding-top: 8px;
	transition: 0.3s;
	color: gray;
}
.left-nav ul a li:hover{
	font-size: 25px;
	color: white;
}
/* 视频轮播 */
.box{
    width: 1200px;
    height: 340px;
    margin: 40px auto;
    position: relative;
}
.list{
    width: 1000px;
    height: 320px;
    overflow: hidden;
    position: absolute;
    left: 59%;
    margin-left: -600px;
}
.btn{
    position: absolute;
    top: 50%;
    margin-top: -80px;
    width: 60px;
    height: 100px;
    font-size: 80px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    z-index: 80;
}
.next{
    right: 190px;
    transition: 0.5s;
}
.prev{
    left: 180px;
    transition: 0.5s;
}

.list li{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    transition: all 0.5s ease;
    opacity: 0;
}
.list li a video{
    width: 536px;
    height: 310px;
    float: left;
    border-radius: 10px;
    border: 1px solid black;
}
.list .p1{
    transform: translate3d(-225px,0,0) scale(0.81);
}
.list .p2{
    transform: translate3d(0px,0,0) scale(0.81);
    opacity: 0.8;
    z-index: 2;
}
.list .p3{
    transform: translate3d(225px,0,0) scale(1);
    z-index: 3;
    opacity: 1;
}
.list .p4{
    transform: translate3d(450px,0,0) scale(0.81) ;
    opacity: 0.8;
    z-index: 2;
}
.list .p5{
    transform: translate3d(675px,0,0) scale(0.81) ;
}
.list .p6{
    transform: translate3d(900px,0,0) scale(0.81);
}
.list .p7{
    transform: translate3d(1125px,0,0) scale(0.81);
}

.buttons{
    position: absolute;
    width: 1200px;
    height: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
    text-align: center;
    padding-top: 10px;
}
.buttons a{
    display: inline-block;
    width: 40px;
    height: 10px;
    padding-top: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.buttons a .a-span{
    display: block;
    width: 40px;
    height: 5px;
    background: gray;
    border-radius: 20px;
}
.buttons a .red{
    background-color: white;
}

/*荧光点点*/
.wel{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#git{
	background: url("../img/midground.png");
	-webkit-animation: mygit 100s linear infinite;
	-o-animation: mygit 100s linear infinite;
	animation: mygit 100s linear infinite;
}
/*荧光点点*/
@keyframes mygit {
	0%{
		background-position: 0 0;
		/*transform: translateY(0px);*/
	}
	100%{
		background-position: 0 -600%;
	}
}
@-o-keyframes mygit {
	0%{
		background-position: 0 0;
		/*transform: translateY(0px);*/
	}
	100%{
		background-position: 0 -600%;
	}
}
@-moz-keyframes mygit {
	0%{
		background-position: 0 0;
		/*transform: translateY(0px);*/
	}
	100%{
		background-position: 0 -600%;
	}
}
@-ms-keyframes mygit {
	0%{
		background-position: 0 0;
		/*transform: translateY(0px);*/
	}
	100%{
		background-position: 0 -600%;
	}
}
@-webkit-keyframes mygit {
	0%{
		background-position: 0 0;
		/*transform: translateY(0px);*/
	}
	100%{
		background-position: 0 -600%;
	}
}