*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    color: white;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url('../img/background3.jpg');//桌面背景
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 1px;
    height: 1px;
    background-color: #F5F5F5;
}
.content{
    width: 60%;
    margin: 0 auto;
    background-image: url("../img/midground.png");
}
.p_head{
    opacity: 0.9;
    width: 100%;
    height: 300px;
    margin: 0px auto;
    background-color: #4a4a4e94;
}
 .p_head .head{
      width: 100px;
      height: 100px;
     margin: 0 auto;
     margin-top: 30px;
  }
.p_head .head img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter:grayscale(80%);
}
 .p_head .title1{
     width: 100%;
     height: 120px;
 }
.p_head .title1 .weather{
    width: 50%;
    height: 100px;
    float: left;
}
 .p_head .title1 .weather .title_right{
     height: 30px;
     margin-top:30px;
 }
.p_head .title1 .weather .star{
    height: 30px;
    margin-top:30px;
}
 .p_head .word{
     width: 30%;
     height: 80px;
     float: right;
 }
 .p_head .word .user{
     width: 200px;
     height: 80px;
     float: right;
 }
.btns{
    margin-left: 140px;
}
     /*个人中心内容*/
 .p_body{
    opacity: 0.9;
    width: 100%;
    height: 1000px;
    margin: 0px auto;
    background-color: #45859294;
}
/* 肚子 */
.personal-banner-down{
    height: 100px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 30px;
    transition: 1s;
}
.personal-banner-down:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.personal-banner-down span a{
    text-decoration: none;
    color: white;
    font-size: 35px;
}
.personal-banner-down span a:hover{
    color: #eee;
}
.personal-banner-down .span1{
    margin-top: 30px;
    float: left;
    color: white;
}
.personal-banner-down .span2{
    margin-top: 30px;
    float: right;
    color: white;
}

/*荧光点点*/
.wel{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#git{
    background: url("../img/midground.png");
    -webkit-animation: mygit 100s linear infinite;
    -o-animation: mygit 100s linear infinite;
    animation: mygit 100s linear infinite;
}
/*荧光点点*/
@keyframes mygit {
    0%{
        background-position: 0 0;
        /*transform: translateY(0px);*/
    }
    100%{
        background-position: 0 -600%;
    }
}
@-o-keyframes mygit {
    0%{
        background-position: 0 0;
        /*transform: translateY(0px);*/
    }
    100%{
        background-position: 0 -600%;
    }
}
@-moz-keyframes mygit {
    0%{
        background-position: 0 0;
        /*transform: translateY(0px);*/
    }
    100%{
        background-position: 0 -600%;
    }
}
@-ms-keyframes mygit {
    0%{
        background-position: 0 0;
        /*transform: translateY(0px);*/
    }
    100%{
        background-position: 0 -600%;
    }
}
@-webkit-keyframes mygit {
    0%{
        background-position: 0 0;
        /*transform: translateY(0px);*/
    }
    100%{
        background-position: 0 -600%;
    }
}