*{
  margin: 0px;
  padding: 0px;
}
li{
  list-style: none;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-size: 100% 100%;
  position: relative;
  background-image: url('../img/background3.jpg');//桌面背景
}
.logo{
  width: 100px;
  height: 100px;
  margin-top: 5px;
}
.logo img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter:grayscale(80%);
}
/* header */
.header{
  width: 100%;
  height: 120px;
  background-size:100% 100%;
  border: 1px solid #00F7DE;
  background-image: url("../img/CARQ.png");
}
.header .logo{
  margin-left: 30px;
  height: 120px;
  width:100px;
  float: left;
  text-align:center;
}
.header .header2{
  height: 70px;
  width: 80%;
  margin: 0px auto;
}
.header .header2 .spann1{
  height: 70px;
  width:100px;
  margin: 0px auto;
  font-size: 40px;
  color: #4E5465;
}
.header .touxiang{
  width: 200px;
  height: 80px;
  float: right;
  margin-top: -50px;
}
.header .touxiang>img{
  width: 60px;
  height: 60px;
  margin-left: 30px;
  float: left;
}
.header .touxiang a:nth-child(2){
  color: blue;
  font-size: 14px;
  text-decoration: none;
}
.header .touxiang a:nth-child(2):hover{
  color:yellow;
}
.header .touxiang .pic2{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 30px;
  border: 0px solid green;
}
.header  .touxiang .pic2:hover{
  opacity: 0.8;
}
/* 导航栏 */
.nav{
  width: 92%;
  height: 40px;
  background-color: #a3b7b500;
  margin: 0 auto;
  z-index: 100;
}
.nav .li1{
  margin-left: 130px;
}
.nav li a{
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
}
.nav a:hover{
  color: skyblue;
}
.one{
  position: fixed;
  top: 0px;
  left: 75px;
}
.two{
  position: fixed;
  top: 50px;
  left: 75px;
}

/* 侧导航栏 */
.left-nav{
  width: 40px;
  height: 250px;
  position: fixed;
  left: 0px;
  top: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #333;
}
.left-nav ul a{
  text-decoration: none;
}
.left-nav ul a li{
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding-top: 8px;
  transition: 0.3s;
  color: gray;
}
.left-nav ul a li:hover{
  font-size: 25px;
  color: white;
}
.sousuolan{
  width: 70%;
  height: 100px;
  margin: 0px auto;
  background-color: #eee;
}

/*订单内容*/
.content{
  z-index: 999;
  width: 70%;
  background-color: #eee;
  opacity: 0.9;
  margin: 0px auto;
}
.content .c_head{
  width: 100%;
  height: 50px;
  text-align: center;
}

/*表格样式*/
.showtable{
  text-align: center;
}
.showtable .thead_tr{
  height: 60px;
  border-bottom: 3px solid red;
}
.showtable thead tr th{
  text-align: center;
}
.showtable tbody tr td{
  border-top: 1px solid red;
  border-right: 0;
  border-bottom: 1px solid red;
  border-left: 0;
}
.td1{
  width: 200px;
  height: 120px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 1px;
  height: 1px;
  background-color: #F5F5F5;
}

/*荧光点点*/
.wel{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#git{
  background: url("../img/midground.png");
  -webkit-animation: mygit 100s linear infinite;
  -o-animation: mygit 100s linear infinite;
  animation: mygit 100s linear infinite;
}
/*荧光点点*/
@keyframes mygit {
  0%{
    background-position: 0 0;
    /*transform: translateY(0px);*/
  }
  100%{
    background-position: 0 -600%;
  }
}
@-o-keyframes mygit {
  0%{
    background-position: 0 0;
    /*transform: translateY(0px);*/
  }
  100%{
    background-position: 0 -600%;
  }
}
@-moz-keyframes mygit {
  0%{
    background-position: 0 0;
    /*transform: translateY(0px);*/
  }
  100%{
    background-position: 0 -600%;
  }
}
@-ms-keyframes mygit {
  0%{
    background-position: 0 0;
    /*transform: translateY(0px);*/
  }
  100%{
    background-position: 0 -600%;
  }
}
@-webkit-keyframes mygit {
  0%{
    background-position: 0 0;
    /*transform: translateY(0px);*/
  }
  100%{
    background-position: 0 -600%;
  }
}