<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddz.car.mapper.CarMapper">
    <select id="listCar" parameterType="com.ddz.car.domain.qo.CarQO" resultType="com.ddz.car.domain.dto.CarDTO">
        select
            cnumber,
            brand,
            cname,
            price,
            seatnumber,
            carphoto,
            state
        from car
        where state='1'
        <if test="brand!=null and brand!=''">
            and brand=#{brand}
        </if>
        <if test="seatnumber!=null and seatnumber!='0'.toString()">
            and seatnumber=#{seatnumber}
        </if>
        <choose>
            <when test="price=='1'.toString()">and price &lt; 100</when>
            <when test="price=='2'.toString()">and price &gt;= 100 and price &lt; 200</when>
            <when test="price=='3'.toString()">and price &gt;= 200 and price &lt; 300</when>
            <when test="price=='4'.toString()">and price &gt;= 300</when>
            <otherwise></otherwise>
        </choose>
    </select>
</mapper>